.header-menu {
    background-color: rgb(238, 116, 2);
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.img-logo{
    width: 6%;
}

h3{
    display: flex;
    align-items: center;
}
